* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


.body4_portofolio {
    width: 100%;
    height: 150px;
    border: solid #f6f6f6 1px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body4_title {
    width: 21%;
    height: 39%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.body4_title p,
.body6_pt1 p {
    font-size: xx-large;
    margin-bottom: -3%;
    font-weight: bolder;
}

.body4_title hr,
.body6_pt1 hr,
.body7_pt1 hr,
.body9_pt1 hr,
.body10_pt1 hr,
.inside_body3_pt1 hr,
.body230_pt1 hr,
.body1_pt1 hr {
    border: solid #008374 1px;
    width: 30%;
}

.body4_para p {
    font-weight: bolder;
    opacity: 0.7;
    margin-top: 3%;

}

.body4_para {
    width: 75%;
    height: 34%;
    display: flex;
    align-items: center;
}

.body5_cards {
    width: 100%;
    height: 1454px;
    background-color: #f6f6f6;
}

.text_decoration {
    text-decoration: none;
    color: black;
    transition: 0.2s linear;
}

.text_decoration:hover {
    color: #008374;
    text-decoration: none;
}

.inside_body.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1%;
}

.card img {
    height: 70%;
    transition: 0.3s linear all;
}

.inside_body.container .card:hover img {
    transform: scaleX(1.1) scaleY(1.08);
}

.inside_body.container .card {
    box-shadow: 1px 1px 20px 1px black;
    width: calc(90%/3);
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 10px;
}

.body6 {
    width: 100%;
    height: 546px;
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30% 1fr;
}

.body6_pt1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.body6_pt1 p {
    margin-bottom: 0%;
}

.body6_pt2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside_body6_pt2.container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.body6_pt2 .card {
    height: 98%;
    width: calc(72%/3);
    align-items: center;
    padding-top: 7px;
}

.body6_pt2 .card img {
    width: 80%;
    border-radius: 5px;
}

.social_icons1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35%;
}

.social_icons1 i {
    font-size: larger;
    border: solid #64676a 1px;
    padding: 4%;
    border-radius: 51%;
    opacity: 0.5;
    transition: 0.3s linear all;
}

.social_icons1 i:hover {
    color: #008374;
    border: solid #008374 1px;
}

.inisde_cards {
    width: 100%;
    display: flex;
    justify-content: center;
}


.body7 {
    width: 100%;
    height: 650px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 24% 1fr;
    background-color: whitesmoke;
    margin-bottom: -2%;
}

.body7_pt1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.body7_pt1 h4 {
    font-weight: bold;
    font-size: xx-large;
    position: relative;
    top: 7%;

}

.body7_pt1 p {
    font-size: large;
}

.body_pt2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside_body7_pt2.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card1_body7,
.card2_body7,
.card3_body7 {
    width: calc(100%/3);
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    box-shadow: 0px 0px 19px #00000040;
    background-color: white;
}


.card2_body7 {
    height: 100%;
    border: solid #008374 3px;
}

.card1_body7 p:first-child,
.card2_body7 p:first-child,
.card3_body7 p:first-child {
    font-size: x-large;
    font-weight: bolder;
}

.card1_body7 p:nth-child(3),
.card2_body7 p:nth-child(3),
.card3_body7 p:nth-child(3) {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1_body7 span:first-child,
.card2_body7 span:first-child,
.card3_body7 span:first-child {
    font-size: xx-large;
    color: #f85a40;
    font-weight: bold;
}

.card1_body7 span:nth-child(2),
.card2_body7 span:nth-child(2),
.card3_body7 span:nth-child(2) {
    font-size: xxx-large;
    font-weight: bold;
    color: #f85a40;
}

.card1_body7 span:nth-child(3),
.card2_body7 span:nth-child(3),
.card3_body7 span:nth-child(3) {
    font-size: large;
    font-weight: bold;
    opacity: 0.5;
}

.card1_body7 ul+span,
.card2_body7 ul+span,
.card3_body7 ul+span {
    border: solid #cce6e3 1px;
    padding: 3% 12%;
    border-radius: 24px;
    color: #008374;
    font-weight: bolder;
    font-size: large;
    transition: 0.3s linear all;
    cursor: pointer;
}

.card1_body7 ul+span:hover,
.card2_body7 ul+span:hover,
.card3_body7 ul+span:hover {
    background-color: #008374;
    color: white;
}

.social_icons2 {
    border: solid #87c1bb 7px;
    outline: solid #d2eeeb 8px;
    padding: 6%;
    border-radius: 50%;
    font-size: xx-large;
    background-color: #008374;
    color: white;
}

.correct {
    color: #008374;
    margin-right: 2%;
}

.wrong {
    color: #b5babe;
    margin-right: 2%;
}

.removing {
    text-decoration: line-through;
    opacity: 0.6;
}

.card1_body7 ul,
.card2_body7 ul,
.card3_body7 ul {
    list-style: none;
    line-height: 2;
    width: 100%;
    font-size: large;
}

.body8 {
    width: 100%;
    height: 570px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding-top: 2%;
}

.inside_body8.container {
    display: flex;
}

.inside_body8_pt1 {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.inside_body8_pt2 {
    width: 70%;

}

.body8_paragraph {
    width: 74%;
    height: 60%;
}

.body8_paragraph p {
    line-height: 1.3;
    font-weight: bold;
    opacity: 0.7;
}

.body8_paragraph span:nth-of-type(3) {
    font-weight: bold;
}

.body8_paragraph span {
    font-size: 34px;
}

.body8_points {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inside_body8_points {
    width: 85%;
    height: 77px;
    background-color: white;
    display: flex;
    position: relative;
    transition: 0.3s linear all;
}

.inside_body8_points p {
    font-size: larger;
    font-weight: bolder;
    position: absolute;
    top: 33%;
    left: 4%;
}

.num_body8 {
    font-size: 23px;
    display: flex;
    align-items: center;
    color: #008374;
    font-weight: bold;
    margin-right: 1%;
}

.inside_body8_points i {
    position: absolute;
    left: 96%;
    top: 32%;
    font-size: x-large;
    opacity: 0.7;
    transition: 0.3s linear all;
    transform: rotate(180deg);
}

.inside_body8_points:hover i {
    transform: rotate(360deg);
    color: aqua;
}

.inside_body8_points:hover::after {
    display: block;
}

.inside_body8_points:hover {
    margin-bottom: 10%;
}

.sec1_body8::after,
.sec2_body8::after,
.sec3_body8::after,
.sec4_body8::after,
.sec5_body8::after {
    content: "";
    background: white;
    width: 100%;
    height: 130px;
    margin-top: -0.3%;
    position: absolute;
    top: 103%;
    display: none;
    padding: 2% 2%;
    font-weight: bold;
}

.sec1_body8::after {
    content: "Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.";
}

.sec2_body8::after {
    content: "Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.";
}

.sec3_body8::after {
    content: "Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis";
}

.sec4_body8::after {
    content: "Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.";
}

.sec5_body8::after {
    content: "Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in";
}

.body9 {
    width: 100%;
    height: 712px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 34% 1fr;
    background-color: whitesmoke;
}

.body9_pt1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.body9_pt1 p:first-of-type {
    font-size: 30px;
    font-weight: bold;
}

.body9_pt1 p:last-of-type {
    font-size: larger;
    text-align: center;
    opacity: 0.7;
}

.inside_pt2_body9.container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.body9_pt2 .inside_pt2_body9.container .card {
    width: calc(94%/3);
    height: 458px;
    border-radius: 20px;
    box-shadow: 0px 1px 13px black;
}

.body9_pt2 .inside_pt2_body9.container .card img {
    border-radius: 20px;
}

.body9_pt2 .card .card-body p:first-of-type {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.5;
}

.body9_pt2 .card .card-body p:nth-of-type(2) {
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s linear all;
}

.body9_pt2 .card .card-body p:nth-of-type(2):hover {
    color: #008374;
}

.body9_pt2 .card .card-body .author_body9_card {
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
}

.body9_pt2 .card .card-body .author_body9_card img {
    border-radius: 50%;
}

.iniside_author_body9 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 10px;
}

.author_adding1 {
    font-size: smaller !important;
    opacity: 1 !important;
}

.author_adding2 {
    font-size: medium !important;
    font-weight: lighter !important;
}

.body10 {
    width: 100%;
    height: 750px;
    background-color: #f6f6f696;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25% 1fr;
}

.body10_pt1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.body10_pt1 p:first-of-type {
    font-size: 32px;
    font-weight: bold;
}

.body10_pt1 p:last-of-type {
    font-size: large;
    opacity: 0.7;
}

.body10_pt2 {
    display: flex;
    align-items: center;
}

.inside_pt2_body10.container {
    height: 80%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.inside_pt2_body10_sec1 {
    height: 100%;
    width: 30%;
    background-color: #007f70;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inside_pt2_body10_sec1_icon {
    width: 90%;
    height: calc(85%/4);
    border-radius: 5px;
    background-color: #009282;
    color: white;
}

.inside_pt2_body10_sec1_icon {
    display: flex;
}

.icon_body10_1 {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_body10_1 i {
    font-size: x-large;
    border-radius: 50%;
    padding: 17%;
    background-color: #33a89b;
    transition: 0.3s linear all;
}

.icon_body10_1 i:hover {
    background-color: white;
    color: #33a89b;

}

.icon_body10_2 {
    padding-left: 11px;
    padding-top: 7px;
}

.icon_body10_2 p:first-of-type {
    font-size: larger;
    font-weight: bold;
    position: relative;
    top: 12%;
}

.icon_body10_2 p:nth-of-type(2) {
    font-size: 13px;
}

.inside_pt2_body10_sec2 {
    width: 70%;
}

.input1 {
    width: 45% !important;
    height: 45px;
    border-radius: 0px !important;
}

.input2 {
    width: 91% !important;
    height: 45px !important;
    border-radius: 0px !important;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.first_row {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    column-gap: 1%;
}

.second_row {
    width: 100%;
    height: 78%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.button_form {
    margin-top: 1%;
    background: #008374;
    color: white;
    border-radius: 104px !important;
    padding: 1.5% 8% !important;
    font-size: 17px !important;
}

.second_row textarea {
    width: 91%;
    margin-top: 3%;
    padding-left: 12px;
    padding-top: 10px;
    border-radius: 0px !important;
}

.button_form:hover {
    background-color: #33a89b;
}

.foot {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75% 1fr;
    background-color: #009282;
    color: white;
}

.foot_pt1.container {
    display: flex;
    flex-direction: row;
}

.foot_sec2,
.foot_sec3,
.foot_sec4 {
    width: calc(60%/3);
}

.foot_sec1 {
    width: 40%;
}

.foot_sec1 p:first-of-type {
    font-size: xx-large;
    font-weight: bold;
}

.foot_sec1 p:first-of-type+p {
    line-height: 1.4;
}

.icons_foot {
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
}

.icons_foot i {
    font-size: large;
    border: solid;
    border-radius: 50%;
    padding: 3%;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s linear all;
}

.icons_foot i:hover {
    opacity: 1;
}

.icons_foot i:nth-of-type(2),
.icons_foot i:nth-of-type(3),
.icons_foot i:nth-of-type(4) {
    margin-left: 10px;
}

.foot_sec2,
.foot_sec3,
.foot_sec4 {
    padding-top: 8px;
    padding-left: 10px;
}

.foot_sec2 p:first-of-type,
.foot_sec3 p:first-of-type,
.foot_sec4 p:first-of-type {
    font-size: large;
    font-weight: bold;
}

.foot_sec2 ul,
.foot_sec3 ul {
    list-style: none;
    padding: 0;
    line-height: 2;
}

.foot_sec2 li,
.foot_sec3 li {
    font-size: 15px;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.3s linear all;
}

.foot_sec2 li:hover,
.foot_sec3 li:hover {
    opacity: 1;
}

.foot_sec2 li a,
.foot_sec3 li a {
    text-decoration: none;
    color: white;
}

.foot_sec4 ul {
    list-style: none;
    padding: 0;
    font-size: smaller;
}

.foot_sec4 ul li span {
    font-weight: bold;
}

.foot_pt2.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_pt2.container p {
    text-align: center;
}

.foot_pt2.container span {
    font-weight: bold;
}

/* body 3 */

.body3 {
    width: 100%;
    height: 730px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20%;
}

.inside_body3_pt1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inside_body3_pt1 p:first-of-type {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 13%;
    text-align: center;
}

.inside_body3_pt1 p:nth-of-type(2) {
    opacity: 0.5;
    font-weight: bolder;
    text-align: center;
}


.inside_body3.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1%;
}

.card_body3 {
    width: calc(98%/3);
    height: 276px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 2px 10px #00000078;
}

.card_body3 img {
    width: 29%;
    border-radius: 50%;
}

.card_body3_pt1 {
    height: 40%;
    display: flex;
}

.inside_pt1_ps {
    display: flex;
    flex-direction: column;
    width: 34%;
    justify-content: center;
}

.inside_pt1_ps p:nth-of-type(2) {
    font-size: smaller;
    font-weight: bold;
    opacity: 0.5;
    position: relative;
    bottom: 14px;
}

.stars_body3 {
    display: flex;
    width: 100%;
}

.stars_body3 i {
    color: gold;
}

.card_body3_pt2 {
    height: 65%;
    padding-left: 16px;
    padding-top: 11px;
}

.card_body3_pt2 p {
    font-size: 16px;
}

.card_body3_pt2 p i {
    color: #007f70;
    font-size: 20px;
}

/* body 230 */
.body230 {
    width: 100%;
    height: 750px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 18% 1fr;
    background-color: whitesmoke;
}

.body230_pt1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.body230_pt1 p:first-of-type {
    font-size: 29px;
    font-weight: bold;
    position: relative;
    top: 16%;
}

.body230_pt1 p:nth-of-type(2) {
    font-weight: bolder;
    opacity: 0.6;
}

.body230_pt2.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.body230_card {
    border: none;
    background-color: white;
    width: calc(97%/3);
    height: 290px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 37px;
    padding-bottom: 9px;
}

.body230_card:hover .icon_body230::after,
.body230_card:hover p:first-of-type::after {
    background-color: #007f70c1;
}

.icon_body230 {
    font-size: 46px;
    position: relative;
}

.icon_body230::after {
    content: "";
    position: absolute;
    right: 76%;
    top: 7%;
    border: none;
    width: 42px;
    height: 40px;
    border-radius: 50%;
    background-color: #00000033;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}

.body230_card p:first-of-type {
    font-family: 'Coiny', cursive;
    font-size: 23px;
    position: relative;
}

.body230_card p:first-of-type::after {
    content: "";
    display: block;
    border: none;
    width: 68%;
    height: 4px;
    background-color: #00000033;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}

.body230_card a {
    color: #007f70;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: all;
    width: fit-content;
}

.body230_card a:hover {
    text-decoration: none;
    color: #007f70;
    font-weight: bolder;
}

/* body2 */
.body2 {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside_body2.container {
    height: 80%;
    border-radius: 9px;
    background-image: linear-gradient(to right, #00000082, #00000082), url(Images/Parallax\ photo\ .jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.inside_body2.container p:first-of-type {
    font-size: 34px;
    font-weight: bold;
    font-family: 'Coiny', cursive;
}

.inside_body2.container p:nth-of-type(2) {
    font-size: larger;
    font-weight: bold;
}

.inside_body2.container a {
    border: solid white 1px;
    color: white;
    padding: 11px 68px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 41px;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-property: all;
}

.inside_body2.container a:hover {
    text-decoration: none;
    background-color: #007f70;
    border: solid #007f70 1px;
}



/* body150 */
.body150 {
    width: 100%;
    height: 468px;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30% 1fr;
}

.body150_pt1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.body150_pt1 img {
    width: 8%;
}

.inside_body150_pt2.container {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.inside_body150_pt2.container img {
    width: 50%;
}

.pt1_body150_pt2 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 2;
}

.pt1_body150_pt2 ul {
    list-style: none;
}

.pt1_body150_pt2 li::after {
    content: "";
    border: solid #00000029 0.5px;
    display: block;
}

.num_body150 {
    font-size: 35px;
    color: #007f70;
    font-weight: bolder;
    font-family: system-ui;
}

.num_body150_2 {
    font-weight: 900;
}

.num_body150_3 {
    position: relative;
    bottom: 7px;
}


/* body1 */
.body1 {
    width: 100%;
    height: 950px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px 1fr;
}

.body1_pt1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body1_pt1 p:first-of-type {
    font-weight: bold;
    font-size: 29px;
    position: relative;
    top: 18px;
}

.body1_pt1 p:nth-of-type(2) {
    font-weight: bolder;
    opacity: 0.6;
}

.body1_pt2 {
    display: flex;
    flex-direction: row;
}

.body1_pt2_1 {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body1_pt2_2 {
    height: 100%;
    width: 50%;
}

.body1_pt2_1 p:first-of-type {
    font-size: 30px;
    font-weight: bolder;
    font-family: cursive;
}

.body1_pt2_1 img {
    width: 92%;
    border-radius: 10px;
}

.body1_pt2_1 p:nth-of-type(2),
.body1_pt2_1 p:nth-of-type(3) {
    font-weight: bold;
}

.body1_pt2_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.body1_pt2_2 ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.body1_pt2_2 ul li i {
    color: #007f70;
}

.body1_pt2_2 p:first-of-type {
    font-weight: bolder;
    font-style: italic;
    width: 94%;
    font-size: 17px;
}

.body1_pt2_2 img {
    width: 100%;
    border-radius: 10px;
}

.body1_pt2_2 p:nth-of-type(2) {
    font-weight: bolder;
}

/* heading */
.heading {
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 11% 1fr;
    background-color: #007f70;
    color: white;
    margin-bottom: 79px;
}

.inside_heading1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inside_heading1_part1 {
    width: 14%;
    height: 100%;
    padding-left: 15px;
    padding-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inside_heading1_part2 {
    width: 60%;
    height: 100%;
    display: flex;
    padding-left: 22px;
    padding-top: 0px;
    justify-content: space-evenly;
    align-items: center;
}

.inside_heading1_part2 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition-duration: 0.7s;
    transition-property: all;
    transition-timing-function: linear;
    line-height: 0;
    border-bottom: transparent 1px solid;
    padding: 12px;
}

.inside_heading1_part2 a:hover {
    color: black;
    text-decoration: none;
    border-bottom: black 1px solid;
}

.inside_heading1_part1 p {
    font-size: 37px;
}

.orange_point {
    width: 8px;
    height: 8px;
    border: solid orangered 1px;
    border-radius: 50%;
    background-color: orangered;
    margin-top: 5%;
}

.inside_heading2 {
    display: flex;
}

.inside_heading2_pt1 {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 60px;
}

.inside_heading2_pt1_words {
    width: 87%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inside_heading2_pt1_words h1 {
    font-weight: bold;
    font-size: 49px;
}

.inside_heading2_pt1_words p:first-of-type,
.inside_heading2_pt1_words p:nth-of-type(2) {
    opacity: 0.5;
    font-weight: bold;
}

.inside_heading2_pt1_words span {
    border: solid transparent 1px;
    font-size: 18px;
    text-align: center;
    width: 39%;
    padding: 8px 0px;
    border-radius: 50px;
    background-color: #1a9082;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: linear;
}

.inside_heading2_pt1_words span:hover {
    border: solid white 1px;
}

.inside_heading2_pt1_words span a {
    color: white;
    text-decoration: none;
}

.inside_heading2_pt1_words span a:hover {
    text-decoration: none;
    color: white;
}

.inside_heading2_pt2 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 70px;
}

.inside_heading2_pt2 img {
    width: 96%;
    height: 100%;
}

.heading_level2 {
    width: 100%;
    z-index: 1;
    color: white;
}

.heading_level2_cards {
    border-radius: 10px;
    width: calc(90%/4);
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #009282;
    text-align: center;
}

.inside_heading_level2.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.heading_level2_cards i {
    font-size: 44px;
}

.heading_level2_cards p {
    font-size: 27px;
}

@media (min-width:768px) {
    .heading {
        height: 1574px;
        grid-template-rows: 4% 30% 1fr;
        margin-bottom: 0px;
    }

    .inside_heading_level2.container {
        gap: 10px;
    }

    .heading_level2_cards {
        width: 80%;
    }

    .orange_point {
        position: relative;
        left: 9%;
    }

    .body1 {
        height: 1607px;
    }

    .body1_pt1 p:nth-of-type(2) {
        font-size: x-large;
        text-align: center;
        top: 10px;
    }

    .body1_pt2 {
        flex-direction: column;
    }

    .body1_pt2_1 {
        width: 90%;
    }

    .body1_pt2_2 {
        width: 90%;
    }

    .body150 {
        height: 719px;
        grid-template-rows: 14% 1fr;
    }

    .inside_body150_pt2.container img {
        width: 83%;
    }

    .pt1_body150_pt2 {
        width: 100%;
    }

    .inside_body150_pt2.container {
        flex-direction: column;
        align-items: center;
    }

    .body230 {
        height: 2162px;
        grid-template-rows: 7% 1fr;
    }

    .icon_body230::after {
        right: 88%;
    }

    .body230_card {
        width: 96%;
    }

    .body230_pt1 p:nth-of-type(2) {
        font-size: x-large;
        text-align: center;
    }

    .body3 {
        height: 2000px;
        grid-template-rows: 11% 1fr;
    }

    .card_body3 {
        width: 80%;
        height: 333px;
    }

    .inside_body3_pt1 p:first-of-type {
        top: 4%;
    }

    .inside_body3_pt1 p:nth-of-type(2) {
        font-size: 22px;
    }

    .card_body3_pt2 p {
        font-size: 22px;
    }

    .body4_title hr {
        border: solid #008374 1px;
        width: 153%;
        position: relative;
        bottom: 11%;
    }

    .body4_para p .body6_pt1 p {
        font-weight: bolder;
        opacity: 0.7;
        margin-top: 6%;
        font-size: x-large;
        text-align: center;
    }

    .inside_body.container .card {
        box-shadow: 1px 1px 20px 1px black;
        width: 84%;
        overflow-x: hidden;
        overflow-y: hidden;
        font-size: x-large;
    }

    .body5_cards {
        width: 100%;
        height: 7391px;
        background-color: #f6f6f6;
    }

    .body6_pt2 .card {
        height: 24.7%;
        width: 100%;
        align-items: center;
        padding-top: 7px;
        font-size: xx-large;
    }

    .body6_pt2 .card h4 {
        font-size: xxx-large;
    }

    .body6 {
        width: 100%;
        height: 3505px;
        background-color: white;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 5% 1fr;
    }

    .body7 {
        height: 3500px !important;
        grid-template-rows: 6% 1fr !important;
        margin-top: 12% !important;
    }

    .body7_pt1 h4 {
        font-weight: bold !important;
        font-size: xx-large !important;
        position: relative !important;
        top: 7%;
    }

    .body7_pt1 p {
        font-size: x-large !important;
        text-align: center;
    }

    .card1_body7,
    .card2_body7,
    .card3_body7 {
        width: 87% !important;
        height: calc(90%/3) !important;
    }

    .card1_body7 p:first-child,
    .card2_body7 p:first-child,
    .card3_body7 p:first-child {
        font-size: xx-large !important;
    }

    .card1_body7 p:nth-child(3),
    .card2_body7 p:nth-child(3),
    .card3_body7 p:nth-child(3) {
        width: 100%;
        height: 11%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card1_body7 span:first-child,
    .card2_body7 span:first-child,
    .card3_body7 span:first-child {
        font-size: xxx-large !important;
    }

    .card1_body7 span:nth-child(2),
    .card2_body7 span:nth-child(2),
    .card3_body7 span:nth-child(2) {
        font-size: 78px !important;
    }

    .card1_body7 span:nth-child(3),
    .card2_body7 span:nth-child(3),
    .card3_body7 span:nth-child(3) {
        font-size: xxx-large !important;

    }

    .card1_body7 ul+span,
    .card2_body7 ul+span,
    .card3_body7 ul+span {
        font-size: x-large !important;
    }


    .social_icons2 {
        font-size: xxx-large !important;
    }

    .card1_body7 ul,
    .card2_body7 ul,
    .card3_body7 ul {
        font-size: xx-large !important;
    }

    .body8 {
        height: 950px !important;
    }

    .inside_body8.container {
        flex-direction: column;
        height: 100% !important;
        font-size: large;
    }

    .inside_body8_points {
        width: 109% !important;
        height: 150px !important;
    }

    .inside_body8_points:hover {
        margin-bottom: 18% !important;
    }

    .inside_body8_pt1 {
        width: 100% !important;

    }

    .inside_body8_pt2 {
        width: 100% !important;
        height: 83% !important;
    }

    .body8_paragraph {
        width: 100% !important;
        height: 22% !important;
    }

    .num_body8 {
        font-size: 29px !important;
        padding-bottom: 3%;
    }

    .body9 {
        height: 2100px !important;
        grid-template-rows: 10% 1fr !important;
    }

    .inside_pt2_body9.container {
        flex-wrap: wrap;
        justify-content: flex-start !important;
    }

    .body9_pt2 .inside_pt2_body9.container .card {
        width: 85% !important;
        height: 616px !important;
        margin-top: 0.5% !important;
        font-size: x-large !important;
    }

    .body9_pt2 .card .card-body .author_body9_card img {
        width: 60px !important;
        height: 60px !important;
    }

    .body9_pt2 .card .card-body p:first-of-type {
        font-size: 20px !important;
    }

    .body10 {
        height: 1112px !important;
        font-size: larger;
    }


    .inside_pt2_body10.container {
        flex-direction: column !important;
        align-items: center;
        height: 100% !important;
        row-gap: 5px;
        border: solid white 1px;
    }

    .inside_pt2_body10_sec1 {
        width: 63% !important;
    }

    .foot {
        height: 782px !important;
    }

    .foot_pt1.container {
        flex-wrap: wrap !important;
    }

    .foot_sec1 {
        width: 100% !important;
    }

    .foot_sec2,
    .foot_sec3,
    .foot_sec4 {
        width: calc(80%/2) !important;
    }
}

@media (min-width:992px) {
    .heading {
        height: 1002px;
        grid-template-rows: 7% 52% 1fr;
        margin-bottom: 0px;
    }

    .inside_heading_level2.container {
        gap: 17px;
    }

    .heading_level2_cards {
        width: 48%;
        height: 193px;
        border-radius: 5px;
    }

    .body1 {
        height: 950px;
    }

    .body1_pt1 p:nth-of-type(2) {
        font-size: medium;
    }

    .body1_pt2 {
        flex-direction: row;
    }

    .body1_pt2_1 {
        width: 60%;
    }

    .body1_pt2_2 {
        width: 50%;
    }

    .body150 {
        height: 468px;
        grid-template-rows: 30% 1fr;
    }

    .inside_body150_pt2.container {
        flex-direction: row;
        align-items: flex-end;
    }

    .inside_body150_pt2.container img {
        width: 50%;
    }

    .body230 {
        height: 750px;
        grid-template-rows: 18% 1fr;
    }

    .icon_body230::after {
        right: 76%;
    }

    .body230_card {
        width: calc(97%/3);
    }

    .body230_pt1 p:nth-of-type(2) {
        font-size: medium;
        text-align: center;
    }

    .body3 {
        height: 1107px !important;
        grid-template-rows: 20% 1fr;
    }

    .card_body3 {
        width: 49%;
        height: 276px;
    }

    .inside_body3_pt1 p:first-of-type {
        top: 13%;
    }

    .inside_body3_pt1 p:nth-of-type(2) {
        font-size: medium;
    }

    .card_body3_pt2 p {
        font-size: 17px;
    }

    .body4_para p .body6_pt1 p {
        font-size: larger;
    }

    .inside_body.container .card {
        width: 48%;
    }

    .body5_cards {
        height: 3102px;
    }

    .body6_pt2 .card {
        width: 49%;
        height: 49.7%;
        font-size: larger;
    }

    .body6 {
        width: 100%;
        height: 1000px;
        background-color: white;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 9% 1fr;
    }

    .body6_pt2 .card h4 {
        font-size: larger;
    }

    .inisde_cards {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .body7 {
        height: 851px !important;
        grid-template-rows: 30% 1fr !important;
        margin-top: 11% !important;
    }

    .body7_pt1 h4 {
        font-weight: bold !important;
        font-size: xx-large !important;
        position: relative !important;
        top: 7%;
    }

    .body7_pt1 p {
        text-align: center;
    }

    .card1_body7,
    .card2_body7,
    .card3_body7 {
        width: calc(100%/3) !important;
        height: 95% !important;
        justify-content: flex-start !important;
    }

    .card1_body7 p:first-child,
    .card2_body7 p:first-child,
    .card3_body7 p:first-child {
        font-size: xx-large !important;
    }

    .card1_body7 p:nth-child(3),
    .card2_body7 p:nth-child(3),
    .card3_body7 p:nth-child(3) {
        width: 100%;
        height: 11%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card1_body7 span:first-child,
    .card2_body7 span:first-child,
    .card3_body7 span:first-child {
        font-size: xx-large !important;
    }

    .card1_body7 span:nth-child(2),
    .card2_body7 span:nth-child(2),
    .card3_body7 span:nth-child(2) {

        font-size: xxx-large !important;
    }

    .card1_body7 span:nth-child(3),
    .card2_body7 span:nth-child(3),
    .card3_body7 span:nth-child(3) {
        font-size: x-large !important;
    }

    .card1_body7 ul+span,
    .card2_body7 ul+span,
    .card3_body7 ul+span {
        font-size: x-large !important;
    }


    .social_icons2 {
        font-size: xx-large !important;
    }

    .card1_body7 ul,
    .card2_body7 ul,
    .card3_body7 ul {
        font-size: large !important;
    }

    .body8 {
        height: 650px !important;
    }

    .inside_body8_points {
        width: 92% !important;
        height: 91px !important;
    }

    .inside_body8_points:hover {
        margin-bottom: 18% !important;
    }

    .inside_body8.container {
        display: flex !important;
        flex-direction: row !important;
    }

    .inside_body8_pt1 {
        width: 30% !important;
        display: flex !important;
        justify-content: flex-end !important;
    }

    .inside_body8_pt2 {
        width: 70% !important;
        height: 100% !important;
    }

    .body8_paragraph {
        width: 74% !important;
        height: 60% !important;
    }

    .num_body8 {
        font-size: 23px !important;
        padding-bottom: 0% !important;
    }

    .body9 {
        height: 1384px !important;
        grid-template-rows: 19% 1fr !important;
    }

    .inside_pt2_body9.container {
        flex-wrap: wrap;
        justify-content: flex-start !important;
    }

    .body9_pt2 .inside_pt2_body9.container .card {
        width: calc(96%/2) !important;
        height: 550px !important;
        margin-left: 1% !important;
    }

    .body9_pt2 .card .card-body p:first-of-type {
        font-size: 20px !important;
    }

    .body10 {
        height: 750px !important;
        font-size: medium;
    }


    .inside_pt2_body10.container {
        height: 80% !important;
        border: solid white 1px !important;
        border-radius: 8px !important;
        display: flex !important;
        flex-direction: row !important;
    }

    .inside_pt2_body10_sec1 {
        width: 63% !important;
    }

    .foot {
        height: 300px !important;
    }

    .foot_pt1.container {
        flex-wrap: nowrap !important;
    }

    .foot_sec1 {
        width: 40% !important;
    }

    .foot_sec2,
    .foot_sec3,
    .foot_sec4 {
        width: calc(60%/3) !important;
    }


}

@media (min-width:1200px) {
    .heading {
        height: 700px;
        grid-template-rows: 11% 1fr;
        margin-bottom: 79px;
    }

    .inside_heading_level2.container {
        gap: 0px;
    }

    .heading_level2_cards {
        width: calc(90%/4);
        height: 251px;
    }

    .orange_point {
        position: relative;
        left: 0%;
    }

    .body3 {
        height: 730px !important;

    }

    .card_body3 {
        width: calc(98%/3);
    }

    .body4_para p .body6_pt1 p {
        font-size: large;
    }

    .inside_body.container .card {
        width: calc(90%/3);
        font-size: initial;
    }

    .body5_cards {
        height: 1452px;
    }

    .body4_para p {
        text-align: center;
    }

    .body6_pt2 .card {
        width: calc(70%/3);
        height: 86.7%;
        font-size: larger;
    }

    .body6 {
        width: 100%;
        height: 560px;
        background-color: white;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 29% 1fr;
    }

    .body7 {
        width: 100% !important;
        height: 650px !important;
        display: grid !important;
        grid-template-columns: auto !important;
        grid-template-rows: 24% 1fr !important;
        margin-top: 0% !important;
    }

    .body7_pt1 {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: flex-end !important;
    }

    .body7_pt1 h4 {
        font-weight: bold !important;
        font-size: xx-large !important;
        position: relative !important;
        top: 7%;
    }

    .body7_pt1 p {
        font-size: large !important;
    }

    .body_pt2 {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .inside_body7_pt2.container {
        height: 100% !important;
        display: flex !important;
        flex-wrap: wrap !important;
        align-items: center !important;
    }

    .card1_body7,
    .card2_body7,
    .card3_body7 {
        width: calc(100%/3) !important;
        height: 95% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: space-evenly !important;
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        border-radius: 20px;
        box-shadow: 0px 0px 19px #00000040 !important;
        background-color: white !important;
    }


    .card2_body7 {
        height: 100% !important;
        border: solid #008374 3px !important;
    }

    .card1_body7 p:first-child,
    .card2_body7 p:first-child,
    .card3_body7 p:first-child {
        font-size: x-large !important;
        font-weight: bolder !important;
    }

    .card1_body7 p:nth-child(3),
    .card2_body7 p:nth-child(3),
    .card3_body7 p:nth-child(3) {
        width: 100% !important;
        height: 11% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .card1_body7 span:first-child,
    .card2_body7 span:first-child,
    .card3_body7 span:first-child {
        font-size: xx-large !important;
        color: #f85a40 !important;
        font-weight: bold !important;
    }

    .card1_body7 span:nth-child(2),
    .card2_body7 span:nth-child(2),
    .card3_body7 span:nth-child(2) {
        font-size: xxx-large !important;
        font-weight: bold !important;
        color: #f85a40 !important;
    }

    .card1_body7 span:nth-child(3),
    .card2_body7 span:nth-child(3),
    .card3_body7 span:nth-child(3) {
        font-size: large !important;
        font-weight: bold !important;
        opacity: 0.5 !important;
    }

    .card1_body7 ul+span,
    .card2_body7 ul+span,
    .card3_body7 ul+span {
        border: solid #cce6e3 1px !important;
        padding: 3% 12% !important;
        border-radius: 24px !important;
        color: #008374 !important;
        font-weight: bolder !important;
        font-size: large !important;
        transition: 0.3s linear all;
        cursor: pointer;
    }

    .card1_body7 ul+span:hover,
    .card2_body7 ul+span:hover,
    .card3_body7 ul+span:hover {
        background-color: #008374 !important;
        color: white !important;
    }

    .social_icons2 {
        border: solid #87c1bb 7px !important;
        outline: solid #d2eeeb 8px !important;
        padding: 6% !important;
        border-radius: 50% !important;
        font-size: xx-large !important;
        background-color: #008374 !important;
        color: white !important;
    }

    .correct {
        color: #008374 !important;
        margin-right: 2% !important;
    }

    .wrong {
        color: #b5babe !important;
        margin-right: 2% !important;
    }

    .removing {
        text-decoration: line-through !important;
        opacity: 0.6 !important;
    }

    .card1_body7 ul,
    .card2_body7 ul,
    .card3_body7 ul {
        list-style: none !important;
        line-height: 2 !important;
        width: 100% !important;
        font-size: large !important;
    }

    .body8 {
        width: 100% !important;
        height: 570px !important;
        background-color: #f5f5f58a !important;
        display: flex !important;
        justify-content: center !important;
        margin-top: 2% !important;
    }

    .inside_body8.container {
        display: flex !important;
        flex-direction: row !important;
        font-size: medium;
    }

    .inside_body8_pt1 {
        width: 30% !important;
        display: flex !important;
        justify-content: flex-end !important;
    }

    .inside_body8_pt2 {
        width: 70% !important;

    }

    .body8_paragraph {
        width: 74% !important;
        height: 60% !important;
    }

    .body8_paragraph p {
        line-height: 1.3 !important;
        font-weight: bold !important;
        opacity: 0.7 !important;
    }

    .body8_paragraph span:nth-of-type(3) {
        font-weight: bold !important;
    }

    .body8_paragraph span {
        font-size: 34px !important;
    }

    .body8_points {
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-evenly !important;
        align-items: center !important;
    }

    .inside_body8_points {
        width: 85% !important;
        height: 77px !important;
        background-color: white !important;
        display: flex !important;
        position: relative !important;
        transition: 0.3s linear all !important;
    }

    .inside_body8_points p {
        font-size: larger !important;
        font-weight: bolder !important;
        position: absolute !important;
        top: 33% !important;
        left: 4% !important;
    }

    .num_body8 {
        font-size: 23px !important;
        display: flex !important;
        align-items: center !important;
        color: #008374 !important;
        font-weight: bold !important;
        margin-right: 1% !important;
        padding-bottom: 0% !important;
    }

    .inside_body8_points i {
        position: absolute !important;
        left: 96% !important;
        top: 32% !important;
        font-size: x-large !important;
        opacity: 0.7;
        transition: 0.3s linear all !important;
        transform: rotate(180deg) !important;
    }

    .inside_body8_points:hover i {
        transform: rotate(360deg) !important;
        color: aqua !important;
    }

    .inside_body8_points:hover::after {
        display: block !important;
    }

    .inside_body8_points:hover {
        margin-bottom: 10% !important;
    }

    .body9 {
        height: 730px !important;
        grid-template-rows: 34% 1fr !important;
    }

    .body9_pt2 .inside_pt2_body9.container .card {
        width: calc(94%/3) !important;
        height: 468px !important;
    }

    .inside_pt2_body9.container {
        justify-content: space-evenly !important;
        flex-wrap: nowrap !important;
    }

    .body9_pt2 .card .card-body p:first-of-type {
        font-size: 14px !important;
    }

    .body10 {
        height: 750px !important;
        font-size: medium;
    }


    .inside_pt2_body10.container {
        height: 80% !important;
        border: solid white 1px !important;
        border-radius: 8px !important;
        display: flex !important;
        flex-direction: row !important;
    }

    .inside_pt2_body10_sec1 {
        width: 63% !important;
    }
}